Send input data with GET request

`GET` function should also accept a json object for data just like any other functions does.
This way we can make sure we can't forget to urlencode our parameters before doing the query and also, it keeps the look of the link parameter much cleaner.

According to [RFC 2616 Section 4.3](https://tools.ietf.org/html/rfc2616#section-4.3) and  [RFC 2616 Section 9.3](https://tools.ietf.org/html/rfc2616#section-9.3) the way the library currently handles it is correct.

> https://stackoverflow.com/questions/978061/http-get-with-request-body

I am therefore against that change.

Well, it says that `body is not defined by this specification, but might be defined by
   future extensions to HTTP` (if I get it correctly and body refers to the input parameters), it doesn't says that it shouldn't or it won't ever be defined. I understand the desire to respect conventions as much as possible, but we also need to think in a way that we should implement functions that makes our life easier (specially that string formatting in sourcemod is not that good and we can't just do `"/todo/get?id=" + id + "&sort=desc"`. Usually even libraries supports that (for example, axios ( https://github.com/axios/axios ) supports it, while the implementation differs a little from get to other methods like post (post accepts a parameter for input, while get accepts a config parameter on which you can set the 'params' object with your actually json input).
The already existent get function shouldn't be replaced, as to not break the plugins that are already using it that way because of the changed function arguments, but instead a new function could be added (like `GetWithData`).

So you want `GetWithData` to take a JSON object and convert that to URL parameters?

I do agree there needs to be a better way to specify URL parameters, one that automatically encodes keys and values. I did look into creating a structure for that, but I think people would get tired of creating an object like this every time:
```c
char buffer[20];
HTTPQueryParams params = new HTTPQueryParams();
params.Add("id", 123);
params.AddString("sort", "desc");
params.ToString(buffer, sizeof(buffer)); // id=123&sort=desc
```
Another idea is to implement my own format function for it.

Yes, that's exactly what I meant. We kind of still have to do something similar to that, as we have to format the string parameter before passing it to the `.Get` function.

> Another idea is to implement my own format function for it.
That also sounds good. Whichever is gonna make it into the product is still gonna be better than having to not only do string formatting using current sourcemod string methods but also doing urlencode to make sure the url doesn't have spaces or other illegal characters in it.

Version 1.3 now allows you to append query parameters to the URL, which are automatically URL encoded.